/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* end google font */
/* over all */
/* body */

.color{
  color:#00409e;
  color:#4f4f4f;
  color:#333;
  color:#f8f8f8;
  color:#f1f1f1;
  color:#a6a6a6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:#4f4f4f;
  text-decoration: none;
  font-family: "Noto Sans Thai", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
p{
  font-family: "Sarabun", sans-serif;
}
img{
  image-rendering:auto;
}
body {
  font-family: sans-serif;
  background-color: #f8f8f8;
}
strong{
  color:#f8f8f8;
}

/* end body */
/* navbar */
.navbar {
  /* background-color: #ffffff; */
  color: #4f4f4f;
  padding: 0 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right:50px;
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 0.5px 20px 0 rgba(0, 0, 0, 0.02); */
}
.logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo a p {
  padding:0 5px;
  font-size: 1rem;
  color:#4f4f4f;
  font-weight: 800;
}
.logo a img {
  width:50px;
}
.logo a img:hover {
  scale: 101%;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links li {
  position: relative;
}
.nav-links a {
  color: #4f4f4f;
  font-weight: 600;
  text-decoration: none;
  padding: 8px 10px;
  display: block;
}
.nav-links li:hover {
  background-color: #f1f1f1;
  color:#00409E;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f8f8f8;
  display: none;
  flex-direction: column;
  min-width: 180px;
  z-index: 10;
}
.dropdown:hover .submenu {
  display: flex;
}
.submenu li {
  list-style-type: none;
}
.submenu li a {
  padding: 10px;
  border-bottom: 1px solid #fff;
}
.toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: #4f4f4f;
}

/* end nav */

/* footer */
.footer {
  background-color: #5a749e;
  display:flex;
  flex-direction:column;
  /* padding:20px; */
}
.container-footer{
  width:100%;
  /* height:30vh; */
  /* background-color:#ac4d4d; */
  display:flex;
  flex-direction: column;
  padding:30px;

}
.card-logo{
  flex:1;
  height:100%;
  /* background-color: #3395FF; */
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:20px;
}
.card-logo img{
  width:100px;
}
.footer-contact-items{
  width:100%;
  display:flex;
  justify-content: center;
}
.footer-contact{
  display:flex;
  justify-content:start;
  align-items:center;
  /* width:100%; */
  padding:10px;
  /* background-color: #3395FF; */
}
.footer-contact a{
  display:flex;
  /* background-color: #3395FF; */
}
.footer-contact img{
  width:35px;
  margin-right:20px;
}
.card-footer-menu{
  flex:2;
  /* background-color: #b5b5b6; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-footer-menu ul{
  display: flex;
  justify-content: center;
}
.card-footer-menu ul li{
  list-style-type: none;
  padding:0 2vw;
}
.card-footer-menu ul li a{
  color:#e1e1e1;
}
.card-footer-menu ul li a:hover{
  color:#fff;
  text-decoration: underline;
  transition: 0.5s;
}
.container-footer-copyright{
  width:100%;
  background-color:#617494;
  display:flex;
  justify-content: center;
  padding:5px;

}
.copyright{
  font-size: 0.8rem;
  font-weight: 300;
}

/* end footer */
/* end over all */
/* ----------------------------------- */


/* index page */

/* container */
.container{
  width:100%;
  height:80vh;
  margin-bottom: 10px;
}
/* header */
.container-header{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background: #00409E;
  background: linear-gradient(145deg,rgba(0, 64, 158, 1) 30%, rgba(13, 255, 174, 1) 100%);
  opacity:0.98;
}
.container-header h1{
  font-size:3rem;
  font-weight:600;
  color:#f8f8f8;
  text-shadow: 2px 2px 5px rgba(52, 52, 52,0.5);
}
.container-header h2{
  font-size:2rem;
  font-weight:400;
  color:#f8f8f8;
  text-shadow: 2px 2px 5px rgba(52, 52, 52, 0.5);
}
.container-header a{
  padding:10px;
  border-radius: 20px;
  color:#fff;
  box-shadow: 2px 2px 5px rgba(52, 52, 52, 0.5);
  background: linear-gradient(93deg,rgba(255, 60, 0, 0.6) 0%, rgba(255, 60, 0, 1) 100%);
}
.container-header a:hover{
  background: #00409e;
}
.bg-header{
  background-image: url("/image/bg-constuction.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* end header */
/* boom lift */
.bg-boom{
  background-image: url("/image/jlg-boom-lift.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-boom{
  width:100%;
  height:100%;
  display:flex;
  justify-content: end;
  align-items: center;
  background: #00409e;
  background: linear-gradient(145deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 1) 100%);
  opacity:0.9.5;
}
.text-boom{
  padding:50px;
  width:60%;
}
.text-boom h1,h2,p{
  color:#f8f8f8;
  line-height: 2rem;
}
/* .text-boom h1,h2{
  font-weight: 500;
} */
.text-boom a{
  padding:10px;
  border-radius: 20px;
  color:#f8f8f8;
  box-shadow: 2px 2px 5px rgba(52, 52, 52, 0.5); 
  background: linear-gradient(93deg,rgba(255, 60, 0, 0.6) 0%, rgba(255, 60, 0, 1) 100%);
}
.text-boom a:hover{
  background: #00409e;
}
/* end boom lift */
/* scissor lift */
.bg-scissor{
  background-image: url("/image/jlg-scissor-lift.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-scissor{
  width:100%;
  height:100%;
  display:flex;
  justify-content: start;
  align-items: center;
  background: #00409e;
  background: linear-gradient(270deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 1) 100%);
  opacity:0.9;
}
.text-scissor{
  padding:50px;
  width:60%;
}
.text-scissor h1{
  color:#f8f8f8;
  line-height: 1.6rem;
}
.text-scissor h1,h2{
  font-weight: 500;
}
.text-scissor a{
  padding:10px;
  border-radius: 20px;
  color:#fff;
  box-shadow: 2px 2px 5px rgba(52, 52, 52, 0.5); 
  background: linear-gradient(93deg,rgba(255, 60, 0, 0.6) 0%, rgba(255, 60, 0, 1) 100%);
}
.text-scissor a:hover{
  background: #00409e;
}
/* end scissor lift */
/* service */
.bg-service{
  width:100%;
}
.container-service{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  padding:100px 20px;
}
.card-service{
  height:300px;
  min-width:200px;
  border-radius: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex:1 ;
  margin: 0 10px;
  background: linear-gradient(0deg,rgba(0, 64, 158, 0.6) 0%, rgba(100, 211, 255, 0.4) 100%);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 5px 20px 0 rgba(0, 0, 0, 0.3);
}
.card-service:hover{
  margin-top:-15px;
  transition:ease-in-out 0.5s;
}
.card-service a{
  display:flex;
  align-items:center;
  flex-direction: column;
}
.card-service a img{
  width:200px;
  margin:10px;
}
.card-service h1{
  color:#f8f8f8;
  font-weight: 500;
}
/* end service */
/* machine rental */
.title-machine-rental{
  display:flex;
  justify-content: center;
  width:100%;
  padding:20px;
}
/* end machine rental */
/* ------------------------------ */
/* end container */
/* end index page */
/* -------------------------------- */
/* contact page */
.container-contact{
  width:100%;
  padding:80px 100px;
}
.card-contact{
  width:100%;
  height:100%;
  background-color: #5174e7;
  display: flex;
  padding:20px;
  border-radius: 15px;
}
.contact-detail{
  flex:1;
  /* background-color: #ffff; */
  align-self: center;
  padding:30px;
}
.contact-list{
  width:100%;
}
.contact-list a{
  display: flex;
  align-items:center;
}
.contact-list a img{
  width:50px;
  margin:15px;
}
.contact-list a p{
  font-size: 1.5rem;
}
.contact-map{
  flex:1;
  background-color: #fff;

}
/* end contact page */
/* -------------------------------- */
/* boom lifts,sissor lifts page */
.section-boom-lifts-catalog{
  display:flex;
  justify-content: center;
  width:100%;
  background-color:#f8f8f8;
  padding:0 50px;
}
.container-catalog{
  width:100%;
  /* background-color: #93005b; */
  display:flex;
  justify-content: center;
}
.card-catalog{
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
  flex:1;
  padding: 80px 0;
  background-color: #fff;
  margin:15px;
  border-radius:15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 20px 0 rgba(0, 0, 0, 0.08);
  
}
.card-catalog:hover{
  margin-top:-1px;
  transition:ease-in-out 0.5s;
}
.model-name{
  position: absolute;
  left:30px;
  top:20px;
}
.model-spec{
  position: absolute;
  left:30px;
  bottom:20px;
  color: #333;

}
.card-catalog img{
  width: 100%;
}
.choice-service{
  width:100%;
  padding:100px;
  /* background-color:#007BFF; */
  display:flex;
  justify-content: center;
}
.botton-choice{
  padding:10px;
  border-radius: 25px;
  color:#f8f8f8;
  box-shadow: 2px 2px 5px rgba(52, 52, 52, 0.5); 
  background: linear-gradient(93deg,rgba(255, 60, 0, 0.6) 0%, rgba(255, 60, 0, 1) 100%);
}
.botton-choice a{
  color:#fff;
}
.botton-choice:hover{
  background: #00409e;
}
/* end boom lifts,scissor lifts page */
/* -------------------------------- */
/* contents page */
.container-contents{
  width:100%;
  height:30vh;
  background-image: url("/image/jlg-scissor-lift.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-contents-header{
  width:100%;
  height:100%;
  display:flex;
  justify-content: start;
  align-items: center;
  background: #00409e;
  background: linear-gradient(270deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 1) 100%);
  opacity:1;
}
.text-contents{
  width:100%;
  display:flex;
  justify-content:center;
}
.text-contents h1{
  font-size: 4rem;
  color: #fff;
}
.section-contents{
  width:100%;
  display:flex;
  justify-content: center;
  padding:0 10%;
  margin:20px 0;
}
.contents-box{
  flex:1;
  display:flex;
}
.card-contents:hover{
  margin-top:1px;
}
.card-contents{
  flex:1;
  min-width:200px;
  width:100%;
  height:500px;
  margin:10px;
  background-color: #ffffff;
  padding:10px;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 20px 0 rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.card-contents img{
  width:100%;
}
.card-contents p{
  color:#333;
}
.read-more{
  position:absolute;
  right:10px;
  bottom: 10px;
  
}
.read-more:hover{
  text-decoration:underline;
}


/* end contents page */
/* -------------------------------- */
/* container-spec */
#section-product{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  background: radial-gradient(circle,rgba(230, 122, 122, 1) 0%, rgba(0, 64, 158, 1) 100%);
  padding:50px;
}
.container-product{
  width:100%;
  background-color: #ffffff;
  border-radius: 25px;
  display:flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 20px 0 rgba(0, 0, 0, 0.08);
}
.card-product{
  width:400px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.card-product img{
  width:100%;
}
.card-spec{
  flex:2;
  display:flex;
  height:100%;
  background-color: #007BFF;
  border-radius: 0 25px 25px 0;
  padding:50px 20px;
  position:relative;
}
.title-model{
  position:absolute;
  top:20px;
  left:20px;
  color:#fff;
}
.col-spec{
  flex:1;
  height: 100%;
  padding:20px;
}
.col-spec td{
  color:#fff;
  padding:5px;
}
tr:nth-child(even) {
  background-color: #3395FF;
}
table{
  width:100%;
}
#section-next-previous{
  width:100%;
  display: flex;
  padding:50px;
  margin:100px 0;
}
.container-previous{
  flex:1;
  border-right:3px solid #ffffff;
  display:flex;
  justify-content: start;
}
.container-next{
  flex:1;
  display:flex;
  justify-content: end;
}
.card-previous{
  padding:20px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 5px 20px 0 rgba(0, 0, 0, 0.3);
}
.card-previous:hover{
  margin-left:-20px;
  transition:ease-in-out 0.5s;
}
.card-previous p{
  color:#333;
  justify-self: center;
  font-weight: 600;
}
.card-next{
  padding:20px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 5px 20px 0 rgba(0, 0, 0, 0.3);
}
.card-next:hover{
  margin-right:-20px;
  transition:ease-in-out 0.5s;
}
.card-next p{
  color:#333;
  justify-self: center;
  font-weight: 600;
}
.card-previous img{
  width:200px;
}
.card-next img{
  width:200px;
}
/* end container-spec */
/* -------------------------------- */












/* responsive */
@media (max-width: 500px){
  /* footer */
  .container-footer{
    padding:5px;
  }
  /* end footer */
  /* ------------------------------ */
  /* boom lift,scissor lift page */
  .container-catalog{
    flex-direction:column;
  }
  .card-catalog{
    padding:20px;
  }
  /* end boom lift,scissor lift page */
  /* ------------------------------ */
  /* contents page */
  .text-contents h1{
    font-size: 2rem;
  }
  .contents-box{
    flex-direction: column;
    align-items: center;
  }
  .card-contents{
    min-width:none;
  }
  /* end contents page */
  /* ------------------------------ */
  /* container product */
  #section-product{
    padding:10px;
  }
  /* end container product */
  .card-product{
    padding:10px;
  }
  .card-product img{
    width:80%;
  }
  .col-spec td{
    padding:3px;
    font-size:14px;
  }
  /* end container product */
  /* ------------------------------ */
  /* contact page */
  .contact-list a img{
    width:30px;
    margin:15px;
  }
  .contact-list a p{
    font-size: 1.2rem;
  }
  
  /* end contact page */
  /* ------------------------------ */

}
@media (max-width: 900px) {
  /* navbar */
  .toggle {
    display: block;
  }
  .navbar{
    padding-right:20px;
  }
  .nav-links {
    flex-direction: column;
    display: none;
    width: 100%;
    background-color: #f8f8f8;
    position: absolute;
    top: 60px;
    left: 0;
  }
  .nav-links.active {
    display: flex;
    z-index: 100;
  }
  .nav-links li {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .dropdown:hover .submenu {
    display: none;
  }
  .dropdown .submenu {
    display: none;
    position: relative;
  }
  .dropdown.open .submenu {
    display: flex;
  }
  /* end nav */
  /* ------------------------------ */
  /* index page */
  /* header */
  .container-header h1{
    font-size:2rem;
  }
  .container-header h2{
    font-size:1.5rem;
  }
  /* end header */
  /* ------------------------------ */
  /* footer */
  .footer-contact-items{
    flex-direction:column;
  }
  /* end footer */
  /* ------------------------------ */
  /* boom lift scissor lift */
  .text-boom,.text-scissor{
    padding:50px;
    width:100%;
  }
  .text-boom h1,h2,
  .text-scissor h1,h2{
    font-size:1.5rem;
    font-weight: 400;
  }
  /* end boom lift scissor lift*/
  /* ------------------------------ */
  /* service */
  .bg-service{
    /* height:auto; */
  }

  .container-service{
    flex-direction:column;
    padding:10px;
    display:block;
  }
  .card-service{
    width:100%;
    min-width:200px;
    height:300px;
    margin:30px 0;
    /* background-color: #007bff; */
  }
  /* end service */
  /* ------------------------------ */

  /* end index page */
  /* ------------------------------ */
  /* contact page */
  .container-contact{
    height:auto;
    padding:10px;
  }
  .card-contact{
    flex-direction: column;
  }
  
  /* end contact page */
  /* -------------------------------- */
  /* boom lifts,scissor lift page */
  .section-boom-lifts-catalog{
    padding:0;
    flex-direction:column;
  }
  .card-catalog{
    padding:80px 20px;
    /* margin:30px; */
  }

  /* end boom lifts,scissor lift page */
  /* -------------------------------- */
  /* contents page */
  .text-contents h1{
    font-size: 3.5rem;
  }
  .section-contents{
    flex-direction:column;
    justify-content: center;
    padding:10px;
    margin:20px 0;
  }

  /* end contents page */
  /* -------------------------------- */
  /* container product spec */
  .container-product{
    flex-direction:column;
  }
  .card-product{
    width:100%;
    padding:50px;
  }
  .card-product img{
    width:70%;
  }
  .card-spec{
    border-radius: 0 0 25px 25px;
    padding:50px 0;
  }
  .card-previous img{
    width:100px;
  }
  .card-next img{
    width:100px;
  }
  #section-next-previous{
    padding:0;
  }
  /* end container product spec */
  /* ------------------------------ */
}