<footer class="w-full p-4 bg-slate-200">
    <section class="grid gric-cols-1 md:grid-cols-6 gap-2 max-w-7xl mx-auto">
        <div class="col-span-2 p-4">
            <a href="/" class="flex items-center gap-3">

                <img src="/images/rodkarachaothai-logo.png"
                     alt="รถกระเช้าไทย"
                     class="w-14 h-14 object-contain font-[kanit]">

                <div class="hidden sm:block">
                    <h1 class="text-2xl font-semibold text-gray-700 font-[kanit] tracking-wider">
                        รถกระเช้าไทย
                    </h1>
                    <p class="mt-[-10px] font-medium text-gray-700">RODKRACHAOTHAI</p>
                </div>

            </a>
            <p class="text-gray-700 leading-7 font-[kanit]">
                ผู้ให้บริการเช่า Boom Lift และ Scissor Lift แบรนด์ JLG และ Genie คุณภาพสูง พร้อมทีมงานมืออาชีพ
            </p>
        </div>
        <div class="col-span-1 p-4 font-[kanit] flex flex-col">
            <h2 class="text-lg text-blue-900 font-semibold mb-4">เมนู</h2>
            <a href="/" class="text-gray-700 leading-7">
                หน้าแรก
            </a>
            <a href="/about" class="text-gray-700 leading-7">
                เกี่ยวกับ
            </a>
            <a href="/machines" class="text-gray-700 leading-7">
                เครื่องจักร
            </a>
            <a href="/service" class="text-gray-700 leading-7">
                บริการ
            </a>
            <a href="/articles" class="text-gray-700 leading-7">
                บทความ
            </a>
            <a href="/contact" class="text-gray-700 leading-7">
                ติดต่อ
            </a>
            
        </div>
        <div class="col-span-1 p-4 font-[kanit]">
            <h2 class="text-lg text-blue-900 font-semibold mb-4">บริการของเรา</h2>
            <p class="text-gray-700 leading-7">
                เช่าเครื่องจักรทำงานที่สูง
            </p>
            <p class="text-gray-700 leading-7">
                อบรมการใช้งาน
            </p>
            <p class="text-gray-700 leading-7">
                ปรึกษาการใช้งานฟรี
            </p>
        </div>
        
        <div class="col-span-2 p-4 font-[kanit]">
            <h2 class="text-lg text-blue-900 font-semibold mb-4">ติดต่อเรา</h2>
            <p class="text-gray-700 leading-7 flex">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin-icon lucide-map-pin pr-2"><path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"/><circle cx="12" cy="10" r="3"/></svg>
                ชลบุรี
            </p>
            <a href="tel:0954240440">
                <p class="text-gray-700 leading-7 flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone-icon lucide-phone pr-2"><path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/></svg>
                    095-424-0440
                </p>
            </a>
            <a href="mailto:contact@rodkrachaothai.com">
                <p class="text-gray-700 leading-7 flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail-icon lucide-mail pr-2"><path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"/><rect x="2" y="4" width="20" height="16" rx="2"/></svg>
                    contact@rodkrachaothai.com
                </p>
            </a>

            <a href="https://line.me/R/ti/p/rodkrachaothai" target="_blank" rel="noopener">
                <p class="text-gray-700 leading-7 flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle-icon lucide-message-circle pr-2"><path d="M2.992 16.342a2 2 0 0 1 .094 1.167l-1.065 3.29a1 1 0 0 0 1.236 1.168l3.413-.998a2 2 0 0 1 1.099.092 10 10 0 1 0-4.777-4.719"/></svg>
                    rodkrachaothai
                </p>
            </a>
        </div>

    </section>
    <div class="w-full p-2 text-gray-600 text-sm font-[kanit] border-t-2 border-gray-200 flex items-center justify-center">
        <p class="text-sm font-[kanit]">© 2025 Rodkrachaothai. All Rights Reserved</p>

    </div>
    
</footer>
