<div class="min-h-screen">
    <section class="relative text-center min-h-[40vh] md:min-h-[60vh] w-full">
        <div class="absolute inset-0 max-w-7xl mx-auto p-6 flex flex-col z-10 h-full">
            <div class="text-gray-100 font-[kanit] p-4">
                <h2 class="text-3xl md:text-5xl font-semibold text-start p-1">บทความ</h2>
                <h2 class="text-2xl md:text-3xl font-semibold text-start p-1 text-orange-400">ARTICLES</h2>
                <p class="text-xl md:text-2xl text-start p-1">รถกระเช้าไทย ผู้เชี่ยวชาญด้านรถกระเช้าและงานที่สูงครบวงจร</p>

            </div>
        </div>
        

        
        <div
            class="absolute inset-0 bg-cover bg-right md:bg-center"
            style="background-image: url('/images/bg-hero.png');" alt="รถกระเช้าไทย">
        </div>

        
        <div
            class="absolute inset-0 bg-gradient-to-r from-slate-900 via-blue-900/80 to-sky-700/20">
        </div>
        
    </section>


    <section class="w-full bg-white font-[kanit] text-gray-700">
        <div class="max-w-7xl mx-auto px-6">
            

            
            
        </div>     
    </section>






    

</div>