<div class="min-h-screen">
    <section class="relative text-center min-h-[40vh] md:min-h-[60vh] w-full">
        <div class="absolute inset-0 max-w-7xl mx-auto p-6 flex flex-col z-10 h-full">
            <div class="text-gray-100 font-[kanit] p-4">
                <h2 class="text-3xl md:text-5xl font-semibold text-start p-1">บริการของเรา</h2>
                <h2 class="text-2xl md:text-3xl font-semibold text-start p-1 text-orange-400">SERVICE</h2>
                <p class="text-xl md:text-2xl text-start p-1 mt-6">เรามุ่งมั่นให้บริการรถกระเช้าคุณภาพสูง</p>
                <p class="text-xl md:text-2xl text-start p-1 ">พร้อมทีมงานมืออาชีพ เพื่อความปลอดภัยและประสิทธิภาพในการทำงานของคุณ</p>

            </div>
        </div>
        

        
        <div
            class="absolute inset-0 bg-cover bg-right md:bg-center"
            style="background-image: url('/images/bg-hero.png');" alt="รถกระเช้าไทย">
        </div>

        
        <div
            class="absolute inset-0 bg-gradient-to-r from-slate-900 via-blue-900/80 to-sky-700/20">
        </div>
        
    </section>

    <section class="w-full bg-white font-[kanit] text-gray-700 py-10">
        <div class="max-w-7xl mx-auto p-4">
            <h2 class="text-3xl font-semibold py-4 text-blue-800">บริการเครื่องจักรทำงานที่สูง</h2>
            <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                <div class="bg-white rounded grid grid-rows-2 shadow-md">
                    <div class="relative mb-6">
                        <img src="images/jlg-boom-lift.webp" alt="" class="rounded-t">
                        <span class="absolute left-[30px] bottom-[-30px]"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-bulldozer text-gray-100 border-4 border-gray-100 rounded-full p-2 bg-blue-800"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M2 17a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M12 17a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M19 13v4a2 2 0 0 0 2 2h1" /><path d="M14 19h-10" /><path d="M4 15h10" /><path d="M9 11v-5h2a3 3 0 0 1 3 3v6" /><path d="M5 15v-3a1 1 0 0 1 1 -1h8" /><path d="M19 17h-3" /></svg></span>
                    </div>
                    <div class="p-4">
                        <h2 class="text-xl">บริการเช่ารถกระเช้า</h2>
                        <p class="font-light">บริการเช่ารถกระเช้าหลากหลายประเภท ตอบโจทย์ทุกงานที่ต้องการความสูง</p>
                        <div class="py-2">
                            <span class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-check text-green-600"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l5 5l10 -10" /></svg>
                                <p class="font-light">บูมลิฟท์ (Boom Lift)</p>
                            </span>
                            <span class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-check text-green-600"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l5 5l10 -10" /></svg>
                                <p class="font-light">เอ็กซ์ลิฟท์ (Scissor Lift)</p>
                            </span>
                            <span class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-check text-orange-600"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l5 5l10 -10" /></svg>
                                <p class="font-light">เช่ารายวัน / รายเดือน / รายปี</p>
                            </span>
                        </div>
                    </div>
                    
                </div>


                <div class="bg-white rounded grid grid-rows-2 shadow-md">
                    <div class="relative mb-6">
                        <img src="images/jlg-boom-lift.webp" alt="" class="rounded-t">
                        <span class="absolute left-[30px] bottom-[-30px]"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chalkboard-teacher text-gray-100 border-4 border-gray-100 rounded-full p-2 bg-blue-800"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M8 19h-3a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v11a1 1 0 0 1 -1 1" /><path d="M12 14a2 2 0 1 0 4.001 -.001a2 2 0 0 0 -4.001 .001" /><path d="M17 19a2 2 0 0 0 -2 -2h-2a2 2 0 0 0 -2 2" /></svg></span>
                    </div>
                    <div class="p-4">
                        <h2 class="text-xl">บริการอบรมการใช้งาน</h2>
                        <p class="font-light">บริการอบรมการใช้งานรถกระเช้า อย่างปลอดภัย โดยวิทยากรผู้เชี่ยวชาญ</p>
                        <div class="py-2">
                            <span class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-check text-green-600"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l5 5l10 -10" /></svg>
                                <p class="font-light">อบรมการใช้งานอย่างถูกต้อง</p>
                            </span>
                            <span class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-check text-green-600"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l5 5l10 -10" /></svg>
                                <p class="font-light">อบรมความปลอดภัยในการทำงาน</p>
                            </span>
                            <span class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-check text-orange-600"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l5 5l10 -10" /></svg>
                                <p class="font-light">ออกใบรับรองหลังการอบรม</p>
                            </span>
                        </div>
                    </div>
                </div>


                <div class="bg-white rounded grid grid-rows-2 shadow-md">
                    <div class="relative mb-6">
                        <img src="images/jlg-boom-lift.webp" alt="" class="rounded-t">
                        <span class="absolute left-[30px] bottom-[-30px]"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-building-community text-gray-100 border-4 border-gray-100 rounded-full p-2 bg-blue-800"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M8 9l5 5v7h-5v-4m0 4h-5v-7l5 -5m1 1v-6a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v17h-8" /><path d="M13 7l0 .01" /><path d="M17 7l0 .01" /><path d="M17 11l0 .01" /><path d="M17 15l0 .01" /></svg></span>
                    </div>
                    <div class="p-4">
                        <h2 class="text-xl">สำรวจหน้างาน</h2>
                        <p class="font-light">บริการตรวจสำรวจหน้างาน เพื่อการเลือกใช้เครื่องจักรให้เหมาะสม</p>
                        <div class="py-2">
                            <span class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-check text-green-600"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l5 5l10 -10" /></svg>
                                <p class="font-light">ประเมินพื้นที่ทำงาน</p>
                            </span>
                            <span class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-check text-green-600"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l5 5l10 -10" /></svg>
                                <p class="font-light">แนะนำเครื่องจักรให้เหมาะสม</p>
                            </span>
                            <span class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-check text-orange-600"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l5 5l10 -10" /></svg>
                                <p class="font-light">ลดความเสี่ยงและข้อผิดพลาด</p>
                            </span>
                        </div>
                    </div> 
                </div>


                <div class="bg-white rounded grid grid-rows-2 shadow-md">
                    <div class="relative mb-6">
                        <img src="images/jlg-boom-lift.webp" alt="" class="rounded-t">
                        <span class="absolute left-[30px] bottom-[-30px]"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-user-cog text-gray-100 border-2 border-gray-100 rounded-full p-2 bg-blue-800"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h2.5" /><path d="M17.001 19a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M19.001 15.5v1.5" /><path d="M19.001 21v1.5" /><path d="M22.032 17.25l-1.299 .75" /><path d="M17.27 20l-1.3 .75" /><path d="M15.97 17.25l1.3 .75" /><path d="M20.733 20l1.3 .75" /></svg></span>
                    </div>
                    <div class="p-4">
                        <h2 class="text-xl">ให้คำปรึกษา</h2>
                        <p class="font-light">แนะนำการใช้เครื่องจักรให้เหมาะสมคุ้มค่ากับงาน</p>
                        <div class="py-2">
                            <span class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-check text-green-600"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l5 5l10 -10" /></svg>
                                <p class="font-light">ปรึกษาการเลือกเครื่องจักร</p>
                            </span>
                            <span class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-check text-green-600"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l5 5l10 -10" /></svg>
                                <p class="font-light">ปรึกษาสภาพหน้างาน</p>
                            </span>
                            <span class="flex gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-check text-orange-600"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l5 5l10 -10" /></svg>
                                <p class="font-light">ปรึกษางบประมาณ</p>
                            </span>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>     
    </section>

    <section class="w-full bg-white font-[kanit] text-gray-700 py-10">
        <div class="max-w-7xl mx-auto p-4">
            <h2 class="text-3xl font-semibold py-4 text-blue-800">ประเภทเครื่องจักรที่ให้บริการ</h2>
            <div class="w-full grid grid-cols-2 lg:grid-cols-3 gap-4 min-h-[30vh]">
                <div class="col-span-2 grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div class="bg-white grid grid-cols-2 border-2 border-slate-300 rounded">
                        <div class="flex items-center justify-center p-2">
                            <img src="/images/models/450aj.webp" alt="เช่าบูมลิฟท์" class="">
                        </div>
                        <span class="p-2">
                            <h2 class="text-xl text-blue-600">Boom Lift</h2>
                            <p class="pb-2">รถกระเช้าบูมลิฟท์</p>
                            <p class="font-light text-sm p-1">- ความสูงทำงาน 11-43 เมตร</p>
                            <p class="font-light text-sm p-1">- แขนบูม แบบพับ / แบบตรง</p>
                            <p class="font-light text-sm p-1">- ใช้แบตเตอรี่ / น้ำมัน</p>
                            
                        </span>
                        
                    </div>
                    <div class="bg-white grid grid-cols-2 border-2 border-slate-300 rounded">
                        <div class="flex items-center justify-center p-2">
                            <img src="/images/models/gs-2632.webp" alt="เช่าเอ็กซ์ลิฟท์" class="">
                        </div>
                        <span class="p-2">
                            <h2 class="text-xl text-blue-600">Scissor Lift</h2>
                            <p class="pb-2">รถกระเช้าเอ็กซ์ลิฟท์</p>
                            <p class="font-light text-sm p-1">- ความสูงทำงาน 6-18 เมตร</p>
                            <p class="font-light text-sm p-1">- กระทัดรัด คล่องตัว</p>
                            <p class="font-light text-sm p-1">- ใช้แบตเตอรี่ พลังงานสะอาด</p>
                            
                        </span>

                    </div>
                    
                </div>
                <div class="grid grid-cols-[auto_1fr] gap-2 lg:col-span-1 col-span-2 bg-blue-900 text-gray-100 rounded min-h-[110px] p-2 lg:p-1">
                    <span class="flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-headset text-gray-100"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 14v-3a8 8 0 1 1 16 0v3" /><path d="M18 19c0 1.657 -2.686 3 -6 3" /><path d="M4 14a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2v-3" /><path d="M15 14a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2v-3" /></svg>

                    </span>
                    <div class="flex items-center">
                        <div class="sm:flex lg:block gap-6 lg:gap-0 w-full">
                            <div>
                                <p class="text-lg">ไม่แน่ใจว่าต้องใช้รถกระเช้าประเภทไหน ?</p>
                                <p class="font-light">ให้เราช่วยแนะนำเครื่องจักรที่เหมาะสมกับลักษณะงานของคุณ</p>
                            </div>
                            <div class=" mt-4 lg:mt-6 flex lg:block items-center">
                                <a href="/contact" class="px-4 py-2 bg-orange-500 hover:bg-orange-600 transition rounded z-10 text-gray-100">
                                    ปรึกษาผู้เชี่ยวชาญ ฟรี!
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
                

            </div>
        </div>     
    </section>






    

</div>